<div class=card>
  <div class="card__right">
    <div class="card__right__image">
      <a [routerLink]="['post', id]">
        <img src="{{ smallCardImage }}" alt="News Image" class="card__right__image__element">
      </a>
    </div>

    <div id="display">
      <div class="card__right__title">
        <a [routerLink]="['post', id]">
          <h2 class="card__right__title__element">{{ smallCardTitle }}</h2>
        </a>
      </div>

      <div class="card__right__description">
        <p class="card__right__description__element">{{ smallCardDescription }}</p>
      </div>
    </div>
  </div>
</div>
