.card {
  margin-bottom: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card__left__title {
  width: 500px;
  margin: 15px 0px;
}

.card__left__title {
  color: #FFFFFF;
  line-height: 30px;
}

.card__left__image__element {
  width: 460px;
}

.card__left__description {
  width: 480px;
}

.card__left__description__element {
  color: #C1C1C1;
  line-height: 25px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
