<div class="card">
  <div class="card__left">
    <div class="card__left__image">
      <a [routerLink]="['post', id]">
        <img src="{{ bigCardImage }}" alt="News Image" class="card__left__image__element">
      </a>
    </div>

    <div class="card__left__title">
      <a [routerLink]="['post', id]">
        <h2 class="card__left__title__element">{{ bigCardTitle }}</h2></a>
    </div>

    <div class="card__left__description">
      <p class="card__left__description__element">{{ bigCardDescription }}</p>
    </div>
  </div>
</div>
