<div class="components">
  <div class="components__menu-component">
    <app-blog-menu></app-blog-menu>
  </div>

  <div class="components__title-component">
    <app-blog-title></app-blog-title>
  </div>

  <div id="display">
    <div class="components__news">
      <div class="components__news__bigcard-component">
        <app-blog-big-card *ngFor="let bigCardData of bigCardDatas" bigCardImage="{{ bigCardData.bigCardImage }}" bigCardTitle="{{ bigCardData.bigCardTitle }}" bigCardDescription="{{ bigCardData.bigCardDescription }}"></app-blog-big-card>
      </div>

      <div class="components__news__smallcard-component">
        <app-blog-small-card *ngFor="let smallCardData of smallCardDatas" smallCardImage="{{ smallCardData.smallCardImage }}" smallCardTitle="{{ smallCardData.smallCardTitle }}" smallCardDescription="{{ smallCardData.smallCardDescription }}"></app-blog-small-card>
        <!-- <hr *ngFor="let hrs of smallCardDatas"> -->
      </div>
    </div>
  </div>
</div>
