<div class="components">
  <div class="components__menu-component">
    <app-blog-menu></app-blog-menu>
  </div>

  <div class="components__title-component">
    <app-blog-title></app-blog-title>
  </div>

  <div id="display">
    <div class="components__news">
      <div class="components__news__bigcard-component">
        <app-blog-big-card></app-blog-big-card>
      </div>

      <div class="components__news__smallcard-component">
        <app-blog-small-card></app-blog-small-card>
        <hr>
        <app-blog-small-card></app-blog-small-card>
        <hr>
        <app-blog-small-card></app-blog-small-card>
      </div>
    </div>
  </div>
</div>
