#display {
  display: flex;
  justify-content: center;
}

.components__news {
  width: 65%;
  display: flex;
}

.components__news__bigcard-component {
  width: 45%;
}

.components__news__smallcard-component {
  width: 55%;
}

hr {
  margin: 0px 0px 20px 0px;
}
